<!-- Landing Page -->
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
        <h1>Vehicle Fleet Costs and Emissions Calculator</h1>
    </head>
<body>
    <div class="container">
    <a href="cost" class="btn">Click here to view costs associated with a vehicle</a>
    <br>
    <br>

    <a href="emissions" class="btn">Click here to view emissions associated with a vehicle</a>
    <br/>
    <br/>

    <a href="fleet" class="btn">Click here to view costs and emissions associated with a fleet</a>

    </div>
</body>